/*Simple reset*/
* {
    margin: 0;
    padding: 0;
}
body {
    /*You can use any kind of background here.*/
    background: url("thankyou!.Png");
    background-repeat: no-repeat;
}
canvas {
    display: block;
}